# Node.js
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/cache/
/build

# Production
/pm2

# Vercel
.vercel

# Netlify
/.netlify/

# Supabase
.env.local
supabase/.temp
supabase/.env

# UploadThing
.uploadthing

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Others
.DS_Store
*.log
tmp
tmp/*
